<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Doppler</title>

      <!-- JQuery -->
      <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <script src="/js/jquery-2.1.4.min.js"></script>
            <script src="/js/cookie.js"></script>

      <script src="/js/script.js"></script>

      <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  <body>

      {{{body}}}

  </body>
</html>
